@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

:root {
  --color-accent: #ff6500;
  --color-accent-background: #ff66001e;
  --color-text: #8b9dbb;
  --color-highlight: #dde4ee;
  --color-underlay: #0b192c;
  --color-background: #000000;

  --font-bungee: "Bungee", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

*::selection {
  background: var(--color-accent);
  color: var(--color-background);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 6rem;

  background-image: linear-gradient(
    250deg,
    rgb(139, 157, 187, 0.3),
    transparent 40%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--color-highlight);
}

p,
h2 {
  font-size: 0.9rem;
}

p {
  line-height: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

header h1 {
  font-family: var(--font-bungee);
  font-size: 3.5rem;
}

header h4 {
  font-weight: 400;
}

header p {
  max-width: 300px;
}

section h2 {
  font-size: 1rem;
}

nav {
  display: none;
}

nav a {
  font-family: var(--font-bungee);
  font-size: 1.2rem;
}

.sticky-header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background: transparent;
  backdrop-filter: blur(5px);
}

.sticky-header::before {
  content: "";
  position: absolute;
  inset: 0;
}

.sticky-header h2 {
  z-index: 2;
  position: relative;
}

.underlay {
  position: fixed;
  background-color: var(--color-underlay);
  inset: 0;
  z-index: -1;
  opacity: 0.5;
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-content p {
  font-size: 1rem;
}

.anchor-text {
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
}

.anchor-text:hover,
.anchor-container:hover i,
.anchor-container:hover h3 {
  color: var(--color-accent);
}

.experience-content,
.project-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experience-card,
.project-card {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.experience-card {
  gap: 0.5rem;
}

.project-card {
  gap: 1rem;
}

.tenure {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.card-header-link {
  text-decoration: none;
}

.card-header {
  font-family: var(--font-bungee);
  font-size: 1.3rem;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.4rem;
  padding: 0.25rem;
  color: var(--color-accent);
}

.skill-tag {
  padding: 5px 10px;
  border-radius: 50px;
  background: var(--color-accent-background);
}

.skill-tag p {
  font-size: 0.8rem;
}

.project-image {
  max-width: 200px;
  overflow: hidden;
  display: grid;
  place-items: center;
  aspect-ratio: 16/9;
  order: 2;
  border-radius: 5px;
  border: 2px solid rgba(139, 157, 187, 0.2);
}

.project-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scroll-to-top {
  background: var(--color-accent-background);
  width: 50px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  transition-duration: 200ms;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.scroll-to-top:hover {
  opacity: 0.6;
}

.scroll-to-top-button {
  color: var(--color-accent);
  font-size: 2rem;
  text-decoration: none;
  background: transparent;
}

.socials {
  display: flex;
  gap: 1rem;
  font-size: 1.7rem;
}

.anchor-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.anchor-arrow {
  transition: transform 200ms ease-in-out;
}

.anchor-container:hover .anchor-arrow {
  transform: translate(3px, -3px);
}

.anchor-container:hover {
  cursor: pointer;
}

.nav-links:hover {
  font-size: 1.3rem;
}

@media (min-width: 640px) {
  .experience-card,
  .project-card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .card-column {
    grid-column: span 3 / span 3;
  }

  .project-image {
    order: 0;
  }
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding: 0 6rem 6rem 6rem;
  }

  header {
    position: sticky;
    top: 0;
    margin-left: auto;
    height: 100vh;
    padding-bottom: 6rem;
  }

  main {
    margin-right: auto;
  }

  header,
  main {
    padding-top: 6rem;
    max-width: 600px;
    width: 100%;
  }

  .sticky-header {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .socials i {
    font-size: 2rem;
  }

  .experience-card,
  .project-card {
    padding: 1rem;
  }

  .experience-card:hover i,
  .experience-card:hover h3,
  .project-card:hover i,
  .project-card:hover h3 {
    color: var(--color-accent);
  }

  .experience-card:hover .anchor-arrow,
  .project-card:hover .anchor-arrow {
    transform: translate(3px, -3px);
  }

  .experience-card:hover,
  .project-card:hover {
    background: rgb(139, 157, 187, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
